// 1. Import the initial variables
@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";

$primary: hsl(305, 58%, 57%);

// 6. Import the rest of Bulma
@import "../bulma";
@import "../node_modules/bulma-calendar/dist/css/bulma-calendar.min.css";
@import "./bulma-prefers-dark-master/bulma-prefers-dark.sass";
/*
@if (prefers-color-scheme == dark) {
  $primary: hsl(305, 58%, 57%);
}
@else {
  $primary: hsl(254, 40%, 38%);
}*/
$modal-card-body-background-color-dark: $background-dark;
