styles/node_modules/*
elm-stuff
elm.js
dist-newstyle/
website/styles/sass/*
website/styles/sass/base/*
website/styles/sass/bulma-prefers-dark-master/*
website/styles/sass/components/*
website/styles/sass/elements/*
website/styles/sass/form/*
website/styles/sass/grid/*
website/styles/sass/haskellcats.css
website/styles/sass/haskellcats.css.map
website/styles/sass/helpers/*
website/styles/sass/layout/*
website/styles/sass/utilities/*
website/styles/css/*
